/* line 5, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/base.sass */
body {
  font-family: "Trebuchet MS", sans;
  margin: 0;
}

/* line 8, ../sass/base.sass */
.navbar a, .nav li {
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  color: #113F8C;
  text-decoration: none;
}
/* line 13, ../sass/base.sass */
.navbar a:hover, .nav li:hover {
  color: #154fb0;
}

/* line 16, ../sass/base.sass */
.pull-right {
  float: right;
}

/* line 19, ../sass/base.sass */
.content {
  width: 90%;
  margin: 0 auto;
}

/* line 23, ../sass/base.sass */
.content-container {
  margin-top: 20px;
}
/* line 26, ../sass/base.sass */
.content-container a {
  border-bottom: none;
  text-decoration: none;
  color: #616161;
}

/* line 31, ../sass/base.sass */
.content-wrap {
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
  color: #616161;
}
/* line 36, ../sass/base.sass */
.content-wrap:last-child {
  border-bottom: none;
}

/* line 39, ../sass/base.sass */
.content-interactive:hover {
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  background-color: #f2f2f2;
  cursor: pointer;
}

/* line 3, ../sass/modules/intercom.sass */
.alert {
  padding: 4px;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  color: #141414;
}

/* line 10, ../sass/modules/intercom.sass */
.alert-danger {
  background-color: #f09183;
}

/* line 13, ../sass/modules/intercom.sass */
.alert-success {
  background-color: #94dd5b;
}

/* line 16, ../sass/modules/intercom.sass */
.alert-warning {
  background-color: #fcfd3c;
}

/* line 3, ../sass/modules/buttons.sass */
.button--m {
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  border: none;
  background-color: #01A4A4;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
/* line 12, ../sass/modules/buttons.sass */
.button--m:hover {
  background-color: #01cdcd;
}
/* line 14, ../sass/modules/buttons.sass */
.button--m:active {
  background-color: #019595;
}
/* line 16, ../sass/modules/buttons.sass */
.disabled.button--m {
  -moz-box-shadow: 0 1px 0 #CDCDCD;
  -webkit-box-shadow: 0 1px 0 #CDCDCD;
  box-shadow: 0 1px 0 #CDCDCD;
  background-color: #e1e1e1;
  cursor: default;
}

/* line 36, ../sass/modules/buttons.sass */
.button--m {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  width: 100%;
  max-width: 290px;
}
/* line 29, ../sass/modules/buttons.sass */
.button--m:active {
  -moz-box-shadow: 0 1px 0 #8ca671;
  -webkit-box-shadow: 0 1px 0 #8ca671;
  box-shadow: 0 1px 0 #8ca671;
}
/* line 31, ../sass/modules/buttons.sass */
.button--m[disabled] {
  -moz-box-shadow: 0 1px 0 #CDCDCD;
  -webkit-box-shadow: 0 1px 0 #CDCDCD;
  box-shadow: 0 1px 0 #CDCDCD;
  background-color: #e1e1e1;
  cursor: default;
}

/* line 3, ../sass/modules/navigation.sass */
.navbar {
  -moz-box-shadow: 0 50px 50px -30px rgba(17, 63, 140, 0.25);
  -webkit-box-shadow: 0 50px 50px -30px rgba(17, 63, 140, 0.25);
  box-shadow: 0 50px 50px -30px rgba(17, 63, 140, 0.25);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 20px;
  margin-left: 20px;
}

/* line 16, ../sass/modules/navigation.sass */
.navbar-header {
  float: left;
  font-size: 24px;
  line-height: 30px;
}

/* line 21, ../sass/modules/navigation.sass */
.navbar-brand {
  font-weight: 700;
}

/* line 24, ../sass/modules/navigation.sass */
.navbar-toggle.collapsed {
  display: none;
}

/* line 27, ../sass/modules/navigation.sass */
.nav li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
  cursor: pointer;
  line-height: 36px;
}

/* line 1, ../sass/modules/recipes.sass */
.add-recipe__header {
  font-size: 24px;
  line-height: 58px;
}

/* line 5, ../sass/modules/recipes.sass */
.add-recipe__button {
  width: 120px;
}
