/* line 3, ../../sass/modules/buttons.sass */
.button--m {
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  border: none;
  background-color: #01A4A4;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
/* line 12, ../../sass/modules/buttons.sass */
.button--m:hover {
  background-color: #01cdcd;
}
/* line 14, ../../sass/modules/buttons.sass */
.button--m:active {
  background-color: #019595;
}
/* line 16, ../../sass/modules/buttons.sass */
.disabled.button--m {
  -moz-box-shadow: 0 1px 0 #CDCDCD;
  -webkit-box-shadow: 0 1px 0 #CDCDCD;
  box-shadow: 0 1px 0 #CDCDCD;
  background-color: #e1e1e1;
  cursor: default;
}

/* line 36, ../../sass/modules/buttons.sass */
.button--m {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  box-shadow: 0 1px 0 rgba(59, 117, 0, 0.5);
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  width: 100%;
  max-width: 290px;
}
/* line 29, ../../sass/modules/buttons.sass */
.button--m:active {
  -moz-box-shadow: 0 1px 0 #8ca671;
  -webkit-box-shadow: 0 1px 0 #8ca671;
  box-shadow: 0 1px 0 #8ca671;
}
/* line 31, ../../sass/modules/buttons.sass */
.button--m[disabled] {
  -moz-box-shadow: 0 1px 0 #CDCDCD;
  -webkit-box-shadow: 0 1px 0 #CDCDCD;
  box-shadow: 0 1px 0 #CDCDCD;
  background-color: #e1e1e1;
  cursor: default;
}
