<h2 class='add-recipe__header'>
  All Recipes
  {{#link-to 'recipe.new' tagName='button' class="button--m add-recipe__button pull-right"}}Add Recipe{{/link-to}}
</h2>

<div class='content-container'>
  {{#each content as |recipe|}}
    {{#link-to 'recipe' recipe tagName='div' class='content-wrap content-interactive'}}
      {{recipe.title}}
    {{/link-to}}
  {{/each}}
</div>